.language-label  {
    text-transform: uppercase;
    color: grey;
    font-size: 11pt;
    margin-bottom: .7em;
}

.expression {
    padding-left: 20pt;
    min-height: 16pt;
    margin-top: 0em;
    margin-bottom: 0em;
}

.answered:hover {
    background-color: var(--primary-color);
    left: 0;
    cursor: default;
}

.good-answer, .good-answer:hover {
    background-color: greenyellow;
}

.wrong-answer, .wrong-answer:hover {
    background-color: crimson;
}