
<p>{{chosenWordList.wordCollectionDisplayName}} / {{chosenWordList.wordListDisplayName}} &nbsp; 
    <button (click)="goBack()">Back to list choice</button></p>

<div [ngSwitch]="quizDialogState">

    <div *ngSwitchCase="eQuizDialogState.Intro">
        <p>
            You'll see
        </p>
        <ul class="quiz-directives">
            <li>a few flashcards, try to memorize them,</li>
            <li>questions based on the new flashcards,</li>
            <li>and questions based on earlier flashcards to deepen your knowledge.</li>
        </ul>
    </div>

    <div *ngSwitchCase="eQuizDialogState.Summary">
        <p>{{summaryText}}</p>
        <p>Your learning progress on the whole list: {{learningProgress}}</p>
    </div>

    <div *ngSwitchCase="eQuizDialogState.Question" class="quiz-options">
        <p class="language-label">{{getCurrentQuizPackage().question.instructionHeader}}</p>
        
        <p class="expression">{{getCurrentQuizPackage().question.instructionContent}}</p>
        
        <p class="language-label">{{getCurrentQuizPackage().question.optionsHeader}} - how would you translate?</p>
        <ul class="options">
            <li [ngClass]="{'answered': isQuizChoiceButtonDisabled(), 'good-answer': isAnsweredAndCorrect(option), 'wrong-answer': isAnsweredAndWrong(option)}"
                style="padding-left: 7pt; margin-left: 13pt;" 
                *ngFor="let option of getCurrentQuizPackage().question.options" 
                (click)="chooseOption(option)">{{option}}</li>
        </ul>
        <div style="height: 15pt; padding: 9pt 0;">
            <p style="padding: 0; margin: 0;">{{resultText}}</p>
        </div>
        
    </div>
    
    <div *ngSwitchCase="eQuizDialogState.Flashcard">
        <!--<p>Memorize the following expression:</p>-->
        
        <p class="language-label">{{getCurrentQuizPackage().flashcard.lang1Header}}</p>
        <p class="expression"> {{getCurrentQuizPackage().flashcard.lang1}} </p>
        
        <p class="language-label">{{getCurrentQuizPackage().flashcard.lang2Header}}</p>
        <p class="expression"> {{getCurrentQuizPackage().flashcard.lang2}} </p>
        
        <p class="language-label">{{ getCurrentQuizPackage().flashcard.remarksHeader }}</p>
        <p class="expression">{{getCurrentQuizPackage().flashcard.remarks}} </p>
    </div>

</div>

<p>
    <button (click)="onNextButtonClick()" [disabled]="isNextButtonDisabled()">{{nextButtonLabel}}</button>
    &nbsp;&nbsp;
    <span *ngIf="isShowProgressHeader()">{{getBatchProgressLabel()}}</span>
</p>

