<div class="content">

  <header class="app-header">
    
    <div class="login-row"> 
      <p *ngIf="!user" ><button (click)="authService.login()" class="btn btn-default">Login</button></p>
      <p *ngIf="user">
       
        Hello, {{user.username}}! 
        <button (click)="authService.logout()" class="btn btn-default">Logout</button>
      </p>
    </div>
    
    <div class="container">
      <p class="logo-text">{{title}}</p>
      <ul>
          <!-- No slashes at the beginning of the links! 
            https://stackoverflow.com/questions/2005079/absolute-vs-relative-urls-->
          <li><a href="">Home</a></li>
          <!--<li><a href="/about">About</a></li>-->
          <li><a href="quiz">Current quiz</a></li>
          <li><a href="contact">Contact</a></li>
      </ul>
  
    </div>

  </header>
   
  <div class="main-content container">
    <router-outlet></router-outlet>
  </div>

  


  <!--
  <p>Subscribe if you're interested in hearing updates about this demo application:</p>
  <input placeholder="your email address"> <button>Subscribe</button>
  -->
</div> 